
/* Container principal */
.password-recovery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.text-title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1.5rem;
    text-align: center;
}

.recovery-container {
    width: 100%;
    max-width: 800px;
}

.bordered {
    border-right: 1px solid #fff;
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    font-size: 1.25rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

/* Ajustes para dispositivos menores */
@media (max-width: 768px) {
    .bordered {
        border-bottom: 1px solid #fff;
        border-right: none;

    }
    .recovery-container {
        padding: 1rem;
    }
    h2 {
        font-size: 1.1rem;
    }
}