
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Investimentos{% endblock %}</title>
</head>
<nav>
    <a href="{% url 'product_list' %}">Produtos de Investimento</a>
    {% if user.is_authenticated %}
        <a href="{% url 'my_investments' %}">Meus investimentos</a>
        <a href="{% url 'logout' %}">Logout</a>

    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</nav>

<body>
    <header>
        <h1>Sistema de Investimentos</h1>
        <nav>
            <a href="{% url 'product_list' %}">Produtos de Investimento</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Sistema de Investimentos</p>
    </footer>
</body>
</html>
