{% extends "base_generic.html" %}

{% block content %}
  <h2>Meus Investimentos</h2>
  <ul>
    {% for investment in investments %}
      <li>
        <strong>{{ investment.product.name }}</strong><br>
        Valor Aplicado: {{ investment.applied_value }}<br>
        Rendimento Acumulado: {{ investment.accumulated_income }}<br>
        Status: {{ investment.status }}<br>
        Data do Investimento: {{ investment.investment_data }}
      </li>
    {% empty %}
      <p>Você ainda não possui investimentos.</p>
    {% endfor %}
  </ul>
{% endblock %}
