{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block links %}
{% endblock %}

{% block navbar-content%}
<h1 class="navbar-text text-light" style="font-family: 'Lora', serif;">
  Bem-vindo ao Bank CAPS
</h1>
{% endblock %}
{% block content %}

  <div class="balance-box">
    <span>Saldo em Conta: <span id="saldo-valor">R$ {{ balance }}</span></span>
    <button id="toggle-visibility" class="toggle-visibility" onclick="toggleSaldo()">👁️</button>
  </div>

  <div class="options">
    <a href="{% url 'extract' %}">Extrato</a>

    <div class="accordion w-100" id="transferAccordion">
        <a id="transferToggle" class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTransfer" aria-expanded="false" aria-controls="collapseTransfer">
            Transferência
        </a>
      <div id="collapseTransfer" class="accordion-collapse collapse" aria-labelledby="headingTransfer" data-bs-parent="#transferAccordion">
        <div class="accordion-body d-flex flex-column">
          <a href="{% url 'completed-transactions' %}">Transferências Realizadas</a>
          <a href="#" id="novaTransferenciaBtn">Nova Transferência</a>
          <div class="transfer-form" id="transferForm">
            <form action="{% url 'transaction' %}" method="post">
              {% csrf_token %}
            <label for="valorInput">Valor a transferir:</label>
            {{ form.amount }}
            <label for="destinatarioInput">Transferir para o contato:</label>
            {{ form.to_account }}
            <label for="destinatarioInput">Transferir para nova conta:</label>
            {{ form.to_account_cpf }}
            <button class="btn btn-primary">Realizar Transferência</button>
          </form>

      
          </div>
        </div>
      </div>
    </div>

    <div class="accordion w-100" id="investAccordion">
        <a id="investToggle" class="collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInvest" aria-expanded="false" aria-controls="collapseInvest">
            Investimentos
        </a>
      <div id="collapseInvest" class="accordion-collapse collapse" aria-labelledby="headingInvest" data-bs-parent="#investAccordion">
        <div class="accordion-body d-flex flex-column">
          <a href="{% url 'my_investments' %}">Meus Investimentos</a>
          <a href="{% url 'product_list' %}">Novo Investimento</a>
        </div>
      </div>
    </div>
  </div>

    <div class="messages-error">
    {% if messages %}
    <ul>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </ul>
    {% endif %}
    </div>
{% endblock %}
