<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci a senha</title>
</head>

<body>
    <form method="post" action="">
        {% csrf_token %}
        <p>{{ request_form.email.label_tag }} {{ request_form.email }}</p>

        <button type="submit">Solicitar Código</button>
    </form>
    <br>
    <form method="post" action="{% url 'password-confirm' %}">
        {% csrf_token %}
        <p>{{ confirm_form.token.label_tag }} {{ confirm_form.token }}</p>
        <p>{{ confirm_form.password.label_tag }} {{ confirm_form.password }}</p>
        <p>{{ confirm_form.confirm_password.label_tag }} {{ confirm_form.confirm_password }}</p>

        <button type="submit">Confirmar</button>
    </form>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    
    {% if request_form.non_field_errors %}
        <ul>
            {% for error in request_form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for field in request_form %}
        {% for error in field.errors %}
            <ul>
                <li>{{ error }}</li>
            </ul>
        {% endfor %}
    {% endfor %}

    {% if confirm_form.non_field_errors %}
        <ul>
            {% for error in confirm_form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for field in confirm_form %}
        {% for error in field.errors %}
            <ul>
                <li>{{ error }}</li>
            </ul>
        {% endfor %}
    {% endfor %}
</body>

</html>