<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci a senha</title>
</head>

<body>
    <form method="post" action="">
        {% csrf_token %}
        <p>{{ request_form.email.label_tag }} {{ request_form.email }}</p>

        <button type="submit">Solicitar Código</button>
    </form>
    <br>
    <form method="post" action="{% url 'password-confirm' %}">
        {% csrf_token %}
        <p>{{ confirm_form.token.label_tag }} {{ confirm_form.token }}</p>
        <p>{{ confirm_form.password.label_tag }} {{ confirm_form.password }}</p>
        <p>{{ confirm_form.confirm_password.label_tag }} {{ confirm_form.confirm_password }}</p>

        <button type="submit">Confirmar</button>
    </form>
</body>

</html>