/* Customizações gerais */
.container {
    max-width: 90%;
    margin-top: 40px;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
}

/* Estilo para a tabela */
.table {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

.table th,
.table td {
    vertical-align: middle;
    text-align: center;
}

.table thead th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: 600;
}

.table thead tr:nth-child(2) th {
    padding: 8px 5px;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estilo dos inputs e selects no cabeçalho da tabela */
.table thead input,
.table thead select {
    width: 90%;
    font-size: 0.9rem;
    padding: 5px;
}

/* Botões */
.btn-primary {
    font-weight: 600;
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    font-size: 0.85rem;
    padding: 5px 10px;
    transition: transform 0.2s;
}

.btn-success:hover {
    transform: scale(1.05);
}
.btn {
        display: inline-block;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        color: #fff;
        background-color: #076aff; /* Cor de fundo do botão */
        border: none;
        border-radius: 0.25rem;
        text-align: center;
        text-decoration: none; /* Remove o sublinhado do link */
        cursor: pointer;
    }
.btn:hover {
        background-color: #076aff; /* Cor ao passar o mouse */
    }