{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-image">
        <div class="banner">Banner principal</div>
        <div class="welcome-logout">
            <span class="welcome">Olá, {{ request.user.username }}</span>
            <a href="{% url 'logout' %}" class="logout-link">Sair</a>
        </div>
    </div>

    <div class="stats">
        <div class="stat-item">
            <h3>Total de usuários ativos:</h3>
            <p>{{ total_active_users }}</p>
            <h4>Usuários Premium:</h4>
            <p>{{ premium_users }}</p>
        </div>
        <div class="stat-item">
            <h3>Total investido:</h3>
            <p>R$ {{ total_invested }}</p>
        </div>
    </div>
</div>
{% endblock %}
